@import "../../App.scss";

.blog-comments-item{
    border: 1.5px solid rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    padding: 16px;

    @media screen and (min-width: 400px){
        grid-template-columns: 100px auto;
    }
    .comment-img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;

        img{
            width: 100%;
            height: 100%;
        }
    }
}